*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    gap: 30px;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
header a:hover{
    text-decoration: underline green 2px;
    font-size: 21px;
}
.imghe{
    padding-left: 30px;
}
.opp{
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding-right: 30px;
}
#weatherButton{
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}
#weatherButton:hover{
    background: white;
    padding: 15px 20px;
}
#weatherButton i{
    color: orange;
    font-size: 18px;
}
.dark-theme #weatherButton{
    background: #2c2c2c;
    color: white;
}
.dark-theme #weatherButton:hover{
    background: #3a3a3a;
}
.dark-theme #weatherButton i{
    color: white;
}
.dark-theme #weatherText{
    color: white;
}
#themeButton,
.button1{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#themeButton:hover{
    padding: 15px 20px;
}
#themeButton{
    background: white;
    color: #003366;
}
.dark-theme{
    background: #121212;
    color: white;
}
.dark-theme header{
    background: #1e1e1e;
}
.dark-theme .opp a{
    color: white;
}
.dark-theme #themeButton{
    background: #333;
    color: white;
}
.button1{
    padding: 20px 35px 20px 35px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.button1:hover{
    background-color: #1b5e20;
    cursor: pointer;
    padding: 25px 40px 25px 40px;
}
.foto{
    width: 100%;
    height: 85vh;
    position: relative;
}
.slideshow-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.mySlides1{
    display: none;
    width: 100%;
    height: 100%;
}
.mySlides1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.text{
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    font-size: 20px;
}
.button2{
    padding: 15px 35px 15px 35px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.button2 a{
    text-decoration: none;
    color: white;
}
.button2:hover{
    background-color: #1b5e20;
    cursor: pointer;
    padding: 20px 40px 20px 40px;
}
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    z-index: 3;
}
.galeria{
    padding: 60px;
    text-align: center;
}
.galeria h2{
    font-size: 40px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 300px;
    background: white;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.cardfooter{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardfooter a{
    background: green;
    color: white;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardfooter a:hover{
    background: #1b5e20;
    width: 40px;
    height: 40px;
}
span{
    color: green;
}
.dark-theme .card{
    background: #1e1e1e;
}
.dark-theme .cardfooter h4{
    color: white;
}
footer{
    background-color: whitesmoke;
}
.container-avaliacoes{
    display:flex;
    gap:30px;
    width:90%;
    margin:auto;
    align-items:flex-start;
    padding: 10px;
}
.avaliacao{
    width:400px;
    margin:auto;
}
.campo{
    width:100%;
    padding:10px;
    margin:10px 0;
}
textarea.campo{
    height:100px;
}
.btn-avaliar{
    width:100%;
    padding:10px;
    cursor:pointer;
}
.lista-avaliacoes{
    width:400px;
    margin:20px auto;
}
.card-avaliacao{
    border:1px solid #ccc;
    border-radius:10px;
    padding:15px;
    margin-top:15px;
}
.dark-theme footer{
    background: #121212;
}